<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>Title</title>
</head>
<body>
<div class="header-contents">
    <h1>TODOリスト</h1>
</div>

<div class="main-contents">
    <!-- エラーメッセージ-->
    <div th:if="${errorMessages != null}" class="error-messages">
        <ul>
            <li th:text="${errorMessages}"></li>
        </ul>
    </div>

    <!-- 本日の日付-->
    <div id="current_date">
        <script>
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
    </div>

    <!-- 新規タスク（タスク追加画面に遷移）-->
    <button type=“button” onclick="location.href='addTask'">新規タスク</button>

    <!-- 絞り込み（）-->
    <form action="./" method="get">
        <div class="narrow-contents">
            <div class="date">
                期限：
                <input type="date" id="start" name="startDate" th:value="${startDate}">
                ～
                <input type="date" id="end" name="endDate" th:value="${endDate}">
            </div>

            <div class="status">
                <select name="status">
                    <option value="" th:selected="${status == null}">選択する</option>
                    <option value="1" th:selected="${status == 1}">未着手</option>
                    <option value="2" th:selected="${status == 2}">実行中</option>
                    <option value="3" th:selected="${status == 3}">ステイ中</option>
                    <option value="4" th:selected="${status == 4}">完了</option>
                </select>
            </div>

            <div class="word">
                <input type="text" name="task" th:value="${text}">
            </div>
        </div>

        <input type="submit" value="絞り込み">
    </form>

    <!-- タスク内容など-->
    <table>
        <thead>
            <tr>
                <th>タスク内容</th>
                <th>ステータス</th>
                <th>タスク期限</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="content : ${contents}">
                <th th:text="${content.content}"></th>
                <th>
                    <form method="post" th:action="@{/statusEdit/{id}(id=${content.id})}"
                          onsubmit="return confirm('ステータスを変更してよろしいですか？');">
                        <select name="status">
                            <option th:value="1" th:selected="${content.status == 1}">未着手</option>
                            <option th:value="2" th:selected="${content.status == 2}">実行中</option>
                            <option th:value="3" th:selected="${content.status == 3}">ステイ中</option>
                            <option th:value="4" th:selected="${content.status == 4}">完了</option>
                        </select>
                        <input type="submit" value="変更">
                    </form>
                </th>
<!--                 <th th:text="${content.limitedDate}"></th>-->
                <th th:text="${#temporals.format(content.limitedDate, 'yyyy/MM/dd')}"
                    th:classappend="${content.limitedDate.isBefore(T(java.time.LocalDate).now())} ? 'past' : 'future'"></th>

                <th>
                    <form method="get" action="/edit">
                        <input type="submit" value="編集">
                        <input name="id" type="hidden" th:value="${content.id}">
                    </form>
                </th>
                <th>
                    <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete"
                          onsubmit="return confirm('削除してよろしいですか？');">
                        <input type="submit" value="削除">
                    </form>
                </th>
            </tr>
        </tbody>
    </table>



</div>

</body>
</html>